<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @event.nom %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Heure:</strong>
  <%= @event.heure %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<!-- 
	<% unless event.user.***.include?(current_user) %>
	<%= link_to "follow", follow_profil_path(message.user.id) %>
	<% end %>
 -->
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
