<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @event.nom %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Oragnisateur:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Heure:</strong>
  <%= @event.heure %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>


<% if current_user.id == @event.user.id %>

<%= link_to 'Edit', edit_event_path(@event) %> 

<% else %>

<%= link_to 'Reserver', create_resa_path(@event) %>

<% end %>


<%= link_to 'Back', events_path %>
