<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @events.nom %>
</p>

<p>
  <strong>Date:</strong>
  <%= @events.date %>
</p>

<p>
  <strong>Organisateur:</strong>
  <%= @users.name %>
</p>


<p>
  <strong>Heure:</strong>
  <%= @events.heure %>
</p>

<p>
  <strong>Description:</strong>
  <%= @events.description %>
</p>

<%= link_to 'Back', reservations_path %>
